.footer {
  border-top: 3px solid black;
    color: #fff;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-top: 95px;
  
    p {
      color: #fff;
    }
  }